$duration: 1s;
$c_grey: #D9E1E6;
$c_orange: #FD6732;
$c_white: white;
$c_black: black;
$c_grey_black: #999D9F;
$c_grey_black_more: #6c6c6c;

* { box-sizing: border-box; }

body {
	font-family: Open Sans;
	font-size: 16px;
	line-height: 1.4;

	background-color: $c_grey;
}

.card {
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);

	width: 370px;

	background-color: #fff;

	box-shadow: 0px 0px 50px rgba(0,0,0, 0.1);
	transition: box-shadow $duration;

	a{
		color: inherit;
		text-decoration: none;
	}
}

.card:hover {
	box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
}

.card__date {
	position: absolute;
	top: 20px;
	right: 20px;

	width: 45px;
	height: 45px;
	padding-top: 10px;

	color: $c_white;
	background-color: $c_orange;

	text-align: center;
	line-height: 13px;
	font-weight: bold;
	border-radius: 50%;

	&__day{
		display: block;
		font-size: 14px;
	}

	&__month{
		display: block;
		font-size: 10px;
		text-transform: uppercase;
	}
}

.card__thumb{
	height: 235px;
	overflow: hidden;
	background-color: $c_black;
	transition: height $duration;


	img {
		display: block;
		opacity: 1;
		transition: opacity $duration, transform $duration;
		transform: scale(1);
	}

	.card:hover & img {
		opacity:0.6;
		transform: scale(1.2);
	}

	.card:hover &{
		height: 90px;
	}
}

.card__body{
	position: relative;
	padding: 20px;
	height: 185px;
	transition: height $duration;

	.card:hover &{
		height: 185px + 145px;
	}
}

.card__category{
	position: absolute;
	left: 0;
	top: -25px;

	height: 25px;
	padding: 0 15px;

	background-color: $c_orange;
	color: $c_white;

	font-size: 11px;
	line-height: 25px;
	text-transform: uppercase;
}

.card__title {
	margin: 0;
	padding: 0 0 10px 0;

	font-size: 22px;
	color: $c_black;
	font-weight: bold;

	.card:hover &{
		animation: titleBlur $duration;
	}

}

.card__subtitle {
	margin: 0;
	padding: 0 0 10px 0;

	font-size: 19px;
	color: $c_orange;
}

.card__description {
	color: $c_grey_black_more;
	font-size: 14px;
	line-height: 27px;

	opacity: 0;
	transition: opacity $duration;

	.card:hover &{
		opacity: 1;
	}
}

.card__footer {
	position: absolute;
	bottom: 20px;
	left: 20px;
	right: 20px;

	font-size: 11px;
	color: $c_grey_black;
}

.icon{
	display: inline-block;
	vertical-align: middle;
	margin-right: 2px;
}

@keyframes titleBlur {
	0% {
		opacity: 0.6;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
	}

	100% {
		opacity: 1;
		text-shadow: 0 5px 1px rgba(0, 0, 0, 0);
	}
}


@keyframes titleBlurEnd {
	0% {
		opacity: 1;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
	}

	100% {
		opacity: 0;
		text-shadow: 0 5px 1px rgba(0, 0, 0, 0);
	}
}
