* {
  box-sizing: border-box; }

body {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 1.4;
  background-color: #D9E1E6; }

.card {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 370px;
  background-color: #fff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  transition: box-shadow 1s; }
  .card a {
    color: inherit;
    text-decoration: none; }

.card:hover {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3); }

.card__date {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  padding-top: 10px;
  color: white;
  background-color: #FD6732;
  text-align: center;
  line-height: 13px;
  font-weight: bold;
  border-radius: 50%; }
  .card__date__day {
    display: block;
    font-size: 14px; }
  .card__date__month {
    display: block;
    font-size: 10px;
    text-transform: uppercase; }

.card__thumb {
  height: 235px;
  overflow: hidden;
  background-color: black;
  transition: height 1s; }
  .card__thumb img {
    display: block;
    opacity: 1;
    transition: opacity 1s, transform 1s;
    transform: scale(1); }
  .card:hover .card__thumb img {
    opacity: 0.6;
    transform: scale(1.2); }
  .card:hover .card__thumb {
    height: 90px; }

.card__body {
  position: relative;
  padding: 20px;
  height: 185px;
  transition: height 1s; }
  .card:hover .card__body {
    height: 330px; }

.card__category {
  position: absolute;
  left: 0;
  top: -25px;
  height: 25px;
  padding: 0 15px;
  background-color: #FD6732;
  color: white;
  font-size: 11px;
  line-height: 25px;
  text-transform: uppercase; }

.card__title {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 22px;
  color: black;
  font-weight: bold; }
  .card:hover .card__title {
    animation: titleBlur 1s; }

.card__subtitle {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 19px;
  color: #FD6732; }

.card__description {
  color: #6c6c6c;
  font-size: 14px;
  line-height: 27px;
  opacity: 0;
  transition: opacity 1s; }
  .card:hover .card__description {
    opacity: 1; }

.card__footer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  font-size: 11px;
  color: #999D9F; }

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px; }

@keyframes titleBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0 1px 1px black; }
  100% {
    opacity: 1;
    text-shadow: 0 5px 1px rgba(0, 0, 0, 0); } }
@keyframes titleBlurEnd {
  0% {
    opacity: 1;
    text-shadow: 0 1px 1px black; }
  100% {
    opacity: 0;
    text-shadow: 0 5px 1px rgba(0, 0, 0, 0); } }

/*# sourceMappingURL=style.css.map */
